<script type="text/javascript" src='{{ "/assets/js/events.js" | relative_url }}'></script>
<div class="events">
{% assign sorted = (site.data.events.items | sort: 'when') %}
{% for event in sorted %}
  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% capture posttime %}{{ event.when | date: '%s'}}{% endcapture %}
  {% capture forced_est_posttime %}{{ posttime | plus: 0 }}{% endcapture %}
  <li {% if posttime < nowunix %}class="past-date"{% endif %}><strong>{% if event.link %}<a href="{{ event.link }}" target="_blank">{% endif %}{{ forced_est_posttime | date: "(%H:%M) %A %e %b %Y" }} - {{ event.where }}{% if event.link %}</a>{% endif %}</strong>&nbsp;&nbsp;{{ event.what | smartify }}</li>
{% endfor %}
</div>