---
layout: content
---

{% if page.image and page.image != '' %}
{% capture image_path %}{{ page.image }}{% endcapture %}
{% capture sm_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
{% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
<div class="film-image">{% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}</div>{% endif %}

<div class="film-heading">
  <div class="film-info">
    <h1 class="film-title">{{ page.title }}</h1>
    <h2 class="film-director">{{ page.director }}</h2>
  </div>
  {% if page.watch and page.watch != '' %}<div class="watch-button">
    <a href="{{ page.watch | relative_url }}" target="_blank">[watch]</a>
  </div>{% endif %}
</div>

<div class="synopsis">
  <p>{{ page.synopsis | smartify }}</p>
</div>

<div class="film-additional-content">
{{ content }}
</div>

<h5 class="has-text-right"><a href="javascript:history.back()"><< back</a></h5>